@font-face {
    font-family: "Penguin Font";
    src: url(Fonts/Penguin-Regular.ttf);
}

html {
    font-family: "Penguin Font";
}

h1 {  
   color: darkblue;
   
}
body {
    background-color: peachpuff;
}
h2 {
     color: darkblue;
  
}

h3 {
     color: darkblue;
  
}

h4 {
     color: darkblue;
   
}

h5 {
     color: darkblue;
 
}

h6 {
     color: darkblue;
   font-style: oblique;
}