h1 {
   color: darkblue;
   font-style: oblique;
}
body {
    background-color: peachpuff;
}
h2 {
     color: darkblue;
   font-style: oblique;
}

h3 {
     color: darkblue;
   font-style: oblique;
}

h4 {
     color: darkblue;
   font-style: oblique;
}

h5 {
     color: darkblue;
   font-style: oblique;
}

h6 {
     color: darkblue;
   font-style: oblique;
}